/* src/components/chatbot.css */

/* --- Floating Button (Blue Circle) --- */
.chatbot-fab {
  position: sticky; 
  top: 90%;  
  left: 95%;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background-color: #0a66c2; /* LinkedIn Blue */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.chatbot-fab:hover {
  transform: scale(1.1);
  background-color: #004182;
}

.chatbot-fab img {
  width: 30px;
  height: 30px;
  filter: invert(1); /* Icon ko white color karta hai */
}

/* --- Chat Window --- */
.chatbot-window {
  position:fixed;
  top: 30%;
  left: 77%;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
  z-index: 99999;
  overflow: hidden;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.chatbot-header {
  background-color: #0a66c2;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.chatbot-header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.chatbot-body {
  padding: 15px;
  height: 250px;
  overflow-y: auto;
  background: #f9f9f9;
}

.bot-msg {
  background: #e1e1e1;
  padding: 8px 12px;
  border-radius: 10px 10px 10px 0;
  display: inline-block;
  font-size: 0.9rem;
  max-width: 80%;
}

.chatbot-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  background: white;
  gap: 10px;
}

.chatbot-footer input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.chatbot-footer button {
  padding: 8px 16px;
  background: #0a66c2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
/* Dark-light mode*/
.chatbot-window {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.chatbot-header {
  background: var(--primary);
  color: white;
}

.chatbot-footer input {
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
