body {
  background: linear-gradient(100deg, #ffffff, #dbc3d8, #999aa8, #9d9cb4);
  background-size: 400% 200%;
  animation: gradientAnimation 15s ease infinite;
  border: 3px solid white;
  border-radius: 15px;
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-page {
  padding: 40px;
  background-blend-mode: color-burn;
  background: linear-gradient(50deg, #b9bec0 0%, #c2b6c4 100%);
  min-height: 100vh;
  box-shadow:0px 0px 60px #334155(103, 92, 11);
  font-family: Arial, sans-serif;
  border: 2px solid white;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
}

.profile-subtitle {
  color: #666;
  margin-bottom: 30px;
}

.profile-card {
  background: linear-gradient(50deg, #ffffff 0%, #a49da5 100%);
  box-shadow: 0px 0px 80px black;
  border-radius: 14px;
  border:2px solid white;
  border-color: rgb(255, 255, 255);
  padding: 30px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  align-items: center;
}

.profile-avatar-section {
  text-align: center;
  margin-bottom: 30px;
}

.profile-avatar {
  border: 2px solid rgb(150, 150, 235);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #0b0d1c;
  color: #fff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
}

.profile-name {
  margin: 0;
}

.profile-email {
  font-size: 14px;
  color: #777;
}

.profile-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 30px;
}

.info-box {
  box-shadow: 0 0 10px #363839;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.info-box:hover{
  box-shadow: 0 0 0px #38BDF8;
  transition: 0.2s;
  margin-bottom:0px;
  
  height: 90%;
}

.label {
  font-size: 12px;
  color: #888;
}

.profile-actions {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

.btn-primary {
  background: #38BDF8;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  background: #38BDF8;
  color: #000;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #e6e6e6;
}
